<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734651446656-1ttt669qn6p9s5q897l79lel5als3t40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734651446656-1ttt669qn6p9s5q897l79lel5als3t40</string>
	<key>API_KEY</key>
	<string>AIzaSyCrOGHkBnaIRQR99oEaBKkzKqfAYjEBzV4</string>
	<key>GCM_SENDER_ID</key>
	<string>734651446656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benedict.benedict</string>
	<key>PROJECT_ID</key>
	<string>benedicti</string>
	<key>STORAGE_BUCKET</key>
	<string>benedicti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734651446656:ios:7dfa8a4dcb06b7a5073d65</string>
	<key>DATABASE_URL</key>
	<string>https://benedicti-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>